{% extends 'base.html' %}
{% block title %}
Fertilizer Details
{% endblock title %}

{% block body %}  

{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}


</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
    <div class="fert">
        <h1>Fertilizer Recommendation</h1>
        <form action="{{ url_for('predict_fertilizer') }}" method="post">
            <div class="feature">
                <label >Crop</label>
                <select autocomplete="off" name="crop" onkeypress="moveToNext(event, 'nitro')" required>
                    <option hidden value=""></option>
                    <option value="apple">apple</option>
                    <option value="banana">banana</option>
                    <option value="blackgram">blackgram</option>
                    <option value="chickpea">chickpea</option>
                    <option value="coconut">coconut</option>
                    <option value="coffee">coffee</option>
                    <option value="cotton">cotton</option>
                    <option value="grapes">grapes</option>
                    <option value="jute">jute</option>
                    <option value="kidneybeans">kidneybeans</option>
                    <option value="lentil">lentil</option>
                    <option value="maize">maize</option>
                    <option value="mango">mango</option>
                    <option value="mothbeans">mothbeans</option>
                    <option value="mungbean">mungbean</option>
                    <option value="muskmelon">muskmelon</option>
                    <option value="orange">orange</option>
                    <option value="papaya">papaya</option>
                    <option value="pigeonpeas">pigeonpeas</option>
                    <option value="pomegranate">pomegranate</option>
                    <option value="rice">rice</option>
                    <option value="watermelon">watermelon</option>
                </select>
            </div>
            <div class="feature">
                <label for="nitro">Nitrogen</label>
                <input autocomplete="off" name="nitrogen" type="text" id="nitro" required>
            </div>
            <div class="feature">
                <label for="Pho">Phosphorous</label>
                <input autocomplete="off" name="phosphorous" type="text" id="Pho" required>
            </div>
            <div class="feature">
                <label for="Pot">Potassium</label>
                <input autocomplete="off" name="potassium" type="text" id="Pot" required>
            </div>
            
            <div class="submit_fert">
                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
              </div>
        </form>
    </div>

{% endblock body %}